<div class="container">
  <div class="scheme" style="padding-left: 10px" [formGroup]="personForm">
    <h1>REGISTRERINGSSKJEMA</h1>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fornavn</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Etternavn</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="adress" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fødselsdato</mat-label>
        <input matInput formControlName="birthDate" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Bruk 00 i stede for +</mat-hint>
      </mat-form-field>
    </div>

    <button (click)="onSendInformation()" type="submit" color="primary">
      Send
    </button>
  </div>

  <div class="output">
    <h1>EKSISTERENDE BRUKERE</h1>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Fornavn</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="reversed">
        <th mat-header-cell *matHeaderCellDef>Baklengs</th>
        <td mat-cell *matCellDef="let element">{{ element.reversed }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Etternavn</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="adress">
        <th mat-header-cell *matHeaderCellDef>Adresse</th>
        <td mat-cell *matCellDef="let element">{{ element.adress }}</td>
      </ng-container>

      <!-- pipe for å ikke vise timestamp -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Fødselsdato</th>
        <td mat-cell *matCellDef="let element">
          {{ element.birthDate | date : "mediumDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="leapYear">
        <th mat-header-cell *matHeaderCellDef>Skuddår</th>
        <td mat-cell *matCellDef="let element">{{ element.leapYear }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Tlfnr</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th mat-header-cell *matHeaderCellDef>Tverrsum</th>
        <td mat-cell *matCellDef="let element">{{ element.sum }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div>
    Antall brukere: {{ userCount }}
    <br />
    Antall brukere i skuddår: {{ numberOfLeapyears }}
    <br />
    Gjennomsnittlig lengde på fornavn: {{ averageLengthOfFirstName }}
  </div>
</div>
