  <div class="person-form-container">
  <div class="scheme" style="padding-left: 10px" [formGroup]="personForm">
    <div class="form-heading">
    <h6>Lag ny bruker</h6>
  </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fornavn</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Etternavn</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="adress" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fødselsdato</mat-label>
        <input matInput formControlName="birthDate" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Bruk 00 i stede for +</mat-hint>
      </mat-form-field>
    </div>

    <button class="form-button" mat-raised-button (click)="onSendInformation()" type="submit" >
      Send
    </button>
  </div>
</div>
