<div class="homepage-container">
  <section class="heading">Velkommen</section>

  <section class="homepage-text">
    <p>Dette er en enkel nettside jeg utvikler for tiden for å vise noe av det jeg kan.</p>
    <ul>
      <li>Du kan trykke på meny-ikonet oppe til venstre og få tre valg.</li>
      <li>Du lage brukere og se en oversikt over dem. Disse blir lagret på backend og hentet med api-kall.</li>
      <li>Du kan og trykke på login oppe til høyre. Dette var for å vise dialoger.</li>
      <li>Jeg har ikke implementert login på backend.</li>
      <li>Jeg brukte openweatherservice sitt API til å få nåværende temperatur i Bud.</li>
    </ul>
  </section>

<section class="wheater-forcast">
  {{temp}}<span class="celcius">&#8451;</span>
</section>
</div>
