  <mat-sidenav-container class="drawer-container">
    <mat-sidenav class="nav" mode="side" opened >
      <button class="nav-button" mat-raised-button color="primary" routerLink="">Hjem</button>
      <button class="nav-button" mat-raised-button color="primary" routerLink="registrering">Lag ny bruker</button>
      <button class="nav-button" mat-raised-button color="primary" routerLink="brukere">Oversikt over brukere</button>
    </mat-sidenav>
    <mat-sidenav-content  class="content"
      ><router-outlet></router-outlet
    ></mat-sidenav-content>
  </mat-sidenav-container>
