.content{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #555;
}
.nav-button{
 width: 100%;
 margin-bottom: 10px;
}

.drawer-container{
  min-height:100vh;
}
