<mat-toolbar class="toolbar-container">
  <button
    mat-icon-button
    class="icon-toolbar"
    aria-label="Åpne sidemeny"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button class="title-button" routerLink="">Stians</button>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    class="icon-toolbar"
    aria-label="Logg på"
    (click)="openDialog()"
  >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="drawer-container">
  <mat-sidenav #sidenav [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')"class="nav" mode="over">
    <mat-nav-list>
      <mat-list-item>
        <a class="nav-button" routerLink="">Hjem</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-button" routerLink="registrering">Lag ny bruker</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-button" routerLink="brukere">Oversikt over brukere</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content"
    ><router-outlet></router-outlet
  ></mat-sidenav-content>
</mat-sidenav-container>
