<mat-toolbar>
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="menu-option"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tulle AS</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="drawer-container">
  <mat-sidenav #sidenav [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')"class="nav" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a class="nav-button" routerLink="">Hjem</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-button" routerLink="registrering">Lag ny bruker</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav-button" routerLink="brukere">Oversikt over brukere</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content"
    ><router-outlet></router-outlet
  ></mat-sidenav-content>
</mat-sidenav-container>
