.dialog-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.dialog-content{
  display: flex;
  flex-direction: column;
}
// .dialog-button{
//   position: relative;
//   top: 50px
// }
