.dialog-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.dialog-content{
  display: flex;
  flex-direction: column;
}
.dialog-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h1{
  text-align: center;
}
